@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
img {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
} */
